*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-panel {
    width: 500px;
    margin-top: 40px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}